* {   
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}


.main-pizza {
    width: 100vw;
    height: 100vh;
}

.authentic-heading {
    color:#fff;
    font-size: 4rem;
    text-align: center;
}

body {
    font-family: 'Rancho', cursive;
    font-size: 1rem;
    line-height: 1.6;
    background-color:  #0d2527;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 150px;
}

img {
    max-width: 100%;
    border-top: 2px solid #061112;
    border-bottom: 2px solid #061112;
}

a {
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
}


.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-bottom: 3rem; */
    
}

.main-nav__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    /* height: 5rem; */
    /* margin-top: 1rem; */
    padding: 0 2rem;
    flex-direction: row;
    /* border-bottom: 2px solid #081718; */
    
}

.main {
    height: 100vh;
    width: 100vw;
}