html {
    scroll-behavior: smooth;
}

* {   
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Rancho', cursive;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #db2e2b;
}

.centered-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#centered-heading {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-30%, -30%);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 80px;
    font-weight: bold;
    /* Text weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Optional, to give the text a shadow for readability */
}

p {
    font-size: 1.5rem;
}

/* *****  NAV BAR  ***** */
.logo {
    height: 100px;
    padding-bottom: .32rem;
    padding-left: 1rem;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 20px 10px -8px #000000;  
}

.nav__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    padding: 0 2rem;
    flex-direction: row;
}

a {
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

li {
    list-style-type: none;
}


/* *****  SECTIONS ***** */
.main-pizza {
    width: 100vw;
    height: 100vh;
    opacity: 70%;
}

#our-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 1.6rem;
    background-color: #f8f8f8;
    color: rgb(61, 60, 60);
}

/* The title needed color */
.our_story_title {
    color: rgb(61, 60, 60);
}
/* To make the photo responsive and full-width */
.max_photo {
   max-width: 100%;
}


#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #fff;
    margin: 0 3rem 3rem;
}

#hours-of-operation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: #f8f8f8;
    color: #e17f42;
}


#location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background-color: #1b5240;
    color:#fff;
    font-size: 1.5rem;
}

/* This will put the contact info on top of map in responsive mode */
.container {
    display: flex;
    flex-wrap: wrap;
    color:#fff;
    padding-top: 2rem;
    justify-content: center;
}

.contact, .map {
    margin: 0 3rem;
    margin-right: 5rem;
    padding: 2rem;
}

/* Social Media Icons */

.social-media-icons {
    display: flex;
    justify-content: flex-start;
    
}
.facebook, .instagram, .twitter {
    height: 30px;
    width: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: right;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.hamburger {
    display: none;
  }

/*******  MEDIA QUERIES *******/
@media (max-width: 768px) {
    .main-nav__container {
        display: none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 1rem;
     }
}